.footer {
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #818181;
}

.footer_text {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.875rem;
}

.footer_logo__address {
    margin-top: 10px;
}

.footer_logo__img {
    width: 100px;
}

.telefonenumber {
    text-decoration: none;
    color: #ffffff;
}