.main_left {
    padding-top: 40px;
    padding-bottom: 20px;
}

.main_icons__icon1 {
    width: 30px;
    height: 30px;
    background-image: url('../img/icon/icon1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main_icons__icon2 {
    width: 30px;
    height: 30px;
    background-image: url('../img/icon/icon2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main_icons__icon3 {
    width: 30px;
    height: 30px;
    background-image: url('../img/icon/icon3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main_icons__icon4 {
    width: 30px;
    height: 30px;
    background-image: url('../img/icon/icon4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
}

.main_right {
    width: 50%;
}

.main_left__title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    color: #333333;
}

.main_left__text {
    margin-top: 2rem;
    margin-bottom: 74px;
}

.yellowtitle {
    color: #FBD846;
}

.main_left__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.main_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.main_icons__item {
    display: flex;
}

.main_icons__text {
    margin-left: 0.875rem;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}