.card_modal {
    max-width: 70%;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding: 5px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #333333;
    margin: 0 auto;
}

.card_modal__hidden {
    display: none;
}

.card_modal__right {
    margin-left: 10px;
}

.card_modal__title {
    font-weight: 600;
    margin-bottom: 15px;
}

.overlaycard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 200;
}