.nav {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #fcf9f9;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
    margin-right: 20px;
}

.menu_item__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.menu_item__link:hover {
    color: #99CB38;
}

.menu_order {
    padding: 15px 26px 19px 26px;
    display: inline-block;
    width: 240px;
    height: 50px;
    text-align: center;
    border-radius: 35px;
    border: 1px solid #FBD846;
}

.menu_order__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
}

.menu_order:hover {
    background: linear-gradient(#FBD846, #d4f7a7)
}

.menu_logo__img {
    width: 100px;
}